<a href="https://colab.research.google.com/github/Anchita2004/Celebal_Technologies_Assignment/blob/main/Celebal_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Create lower triangular, upper triangular and pyramid containing the "*" character.**

In [ ]:
n=int(input("Enter the number of rows:"))

Enter the number of rows:5

In [ ]:
#Lower triangular pattern
print("The lower triangular pattern is:")
for i in range(1,n+1):
  print("*"*i)

The lower triangular pattern is:
*
**
***
****
*****

In [ ]:
#Upper triangular pattern
print("The upper triangular pattern is:")
for i in range(n,0,-1):
  print("*"*i)

The upper triangular pattern is:
*****
****
***
**
*

In [ ]:
#Pyramid Pattern
print("The pyramid pattern is:")
for i in range(1, n + 1):
    print(" " * (n - i) + "*" * (2 * i - 1))

The pyramid pattern is:
    *
   ***
  *****
 *******
*********